input {
    width: 100%;
    border: 0;
}

input:read-only {
    background-color: transparent;
    font-weight: bold;
}

.totals {
    background-color: gray;
}

#main-container {
    transform: 'translate(-50%, -50%)';
    display: flex;
    align-items: flex-start;
    justify-content: right;
}

table, td, th {
    border: 1px solid black;
  }
  
table {
    width: 100%;
    border-collapse: collapse;
}