input {
    width: 100%;
    border: 0;
}

input:read-only {
    background-color: transparent;
    font-weight: bold;
}

.totals {
    background-color: gray;
}

table, td{
    border: 1px solid black;
}
  
table {
    border-collapse: collapse;
    table-layout: fixed;
    width: 200px;
}

td {
  border: 1px solid black;
  width: 100px;
  overflow: hidden;
}

.addButton, .addButton:focus {
    background-image: url('./assets/addButton.jpg'); 
    background-size: cover; 
    width: 40px; 
    height: 40px; 
    border: none;
    outline:none;
    cursor: pointer;
    padding-right: 34px;
}

.addButton:hover {
    background-image: url('./assets/addButton2.jpg'); 
    background-size: cover; 
    width: 40px; 
    height: 40px; 
    border: none;
    outline:none;
    cursor: pointer;
    padding-right: 32px;
}

#table-and-addCol {
    display: flex; 
}